.playground {
  margin: 2rem;
}
.playground__areas {
  display: flex;
  gap: .75rem;
}
.playground__area {
  flex: 1 1 0%;
}
#editor, #output {
  width: 100%;
  height: 600px;
  border: 1px solid grey;
}
